
name: OpenWrt Build CI

on:
  push:
    branches: 
      - master
    tags:
      - 'v*'
  # schedule:
  #   - cron: 0 20 * * *
  #release:
  #  types: [published]
  workflow_dispatch:
    inputs:
      ENABLE_LTO:
        description: 'enable Link time optimization'
        required: false
        default: true
        type: boolean

jobs:
  build:
    name: Build x86_64 OpenWrt Firmware
    runs-on: ubuntu-24.04
    if: github.event.repository.owner.id == github.event.sender.id
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: openwrt-musl-lite
            config: base_musl_config
            target: musl
          - name: openwrt-glibc-lite
            config: base_glibc_config
            target: glibc
          - name: openwrt-musl-full
            config: full_musl_config
            target: musl
          - name: openwrt-glibc-full
            config: full_glibc_config
            target: glibc
            
    steps:
      - name: Set workspace
        run: |
          sudo mkdir -p -m 777 /mnt/openwrt
          echo "WORK_PATH=/mnt/openwrt" >> $GITHUB_ENV
          echo "ENABLE_LTO=${{ inputs.ENABLE_LTO }}" >> $GITHUB_ENV
          sudo -E timedatectl set-timezone Asia/Shanghai
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: openwrt
          
      - name: Configure compilation environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt update -y
          sudo apt install -y ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential \
            bzip2 ccache clang cmake cpio curl device-tree-compiler ecj fastjar flex gawk gettext gcc-multilib \
            g++-multilib git gnutls-dev gperf haveged help2man intltool lib32gcc-s1 libc6-dev-i386 libelf-dev \
            libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses-dev libpython3-dev \
            libreadline-dev libssl-dev libtool libyaml-dev libz-dev lld llvm lrzsz mkisofs msmtp nano \
            ninja-build p7zip p7zip-full patch pkgconf python3 python3-pip python3-ply python3-docutils \
            python3-pyelftools qemu-utils re2c rsync scons squashfs-tools subversion swig texinfo uglifyjs \
            upx-ucl unzip vim wget xmlto xxd zlib1g-dev zstd yasm
          df -h

      - name: Change Build Path
        run: |
          sudo rsync -a "$GITHUB_WORKSPACE/openwrt/" ${{ env.WORK_PATH }}/
          
      - name: Update feeds
        working-directory: ${{ env.WORK_PATH }}
        run: |
          ./tool.sh feed

      - name: Generate configuration file
        working-directory: ${{ env.WORK_PATH }}
        run: |
          rm -f ./.config*
          cp ./configs/${{ matrix.config }} ./.config
          make defconfig
          df -h
      
      - name: Disable GCC Link time optimization
        working-directory: ${{ env.WORK_PATH }}
        run: |
          if [ "${{ inputs.ENABLE_LTO }}" = "false" ]; then
            sed -i 's/^CONFIG_USE_LTO=y$/# CONFIG_USE_LTO is not set/' .config
            echo "Disable Link time optimization"
          else
            echo "Enable Link time optimization"
          fi

      - name: Compile firmware
        run: |
          cd ${{ env.WORK_PATH }}
          make -j$(($(nproc) + 1))  || make -j1 V=s      

      - name: Clean Build Files
        working-directory: ${{ env.WORK_PATH }}
        run: |
          rm -rf ./staging_dir
          rm -rf ./build_dir

      - name: Prepare artifact
        working-directory: ${{ env.WORK_PATH }}
        run: |
          mkdir -p ./artifact/firmware
          mkdir -p ./artifact/buildinfo
          rm -rf $(find ./bin/targets/ -type d -name "packages")
          cp -rf $(find ./bin/targets/ -type f -name "immortalwrt-*") ./artifact/firmware/
          cp -rf $(find ./bin/targets/ -type f -name "sha256sums") ./artifact/firmware/
          cp -rf $(find ./bin/targets/ -type f -name "*.buildinfo" -o -name "*.manifest") ./artifact/buildinfo/

      - name: Clean Bin Files
        working-directory: ${{ env.WORK_PATH }}
        run: |
          rm -rf ./bin

      - name: Deliver buildinfo
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.name }}-buildinfo
          path: ${{ env.WORK_PATH }}/artifact/buildinfo/

      - name: Deliver firmware
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.name }}
          path: ${{ env.WORK_PATH }}/artifact/firmware/

  push_snapshot_msg:
    name: push weixing msg
    needs: build
    runs-on: ubuntu-24.04
    if: (!startsWith(github.ref, 'refs/tags/v'))
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Push Msg
        run: |
          sudo -E timedatectl set-timezone Asia/Shanghai
          sh .github/push.sh ${{ secrets.CORPID }} ${{ secrets.CORPSECRET }} ${{ secrets.AGENTID }} "x86_64" "Snapshot on ${{ github.ref_name }}"

  release_build:
    name: Release x86_64 OpenWrt Firmware
    needs: build
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set workspace
        run: |
          mkdir -p firmware

      - name: Download all artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts

      - name: rename firmware
        run: |          
          cd artifacts
          set -euo pipefail

          REF_NAME="${{ github.ref_name }}"
          for dir in openwrt-*; do
            [ -d "$dir" ] || continue

            # 从目录名解析 musl/glibc + lite/full
            if [[ "$dir" =~ openwrt-(musl|glibc)-(lite|full) ]]; then
              libc="${BASH_REMATCH[1]}"
              size="${BASH_REMATCH[2]}"
            else
              echo "Skip unknown dir: $dir"
              continue
            fi

            for f in "$dir"/immortalwrt-x86-64-generic-*; do
              [ -f "$f" ] || continue

              name="$(basename "$f")"

              # 提取 erofs / squashfs
              if [[ "$name" =~ -(erofs|squashfs)-combined ]]; then
                fs="${BASH_REMATCH[1]}"
              else
                echo "Skip unknown fs: $name"
                continue
              fi

              # 提取文件后缀（img.gz / qcow2 / vmdk）
              ext="${name#*combined.}"

              new_name="immortalwrt-x86_64-${libc}-${size}-${fs}-combined-${REF_NAME}.${ext}"

              echo "Rename: $name -> $new_name"
              mv "$f" "../firmware/$new_name"
            done
          done

      - name: Check SHA256
        run: |
          cd firmware
          for file in *; do
            sha256sum "$file" >> ../sha256sums
          done
          mv ../sha256sums .

      - name: Upload release asset
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.RELEASE_TOKEN }}
          file: firmware/*
          overwrite: true
          release_name: ${{ github.ref_name }}
          tag: ${{ github.ref_name }}
          file_glob: true
          body: |
            release ${{ github.ref_name }}
  
      - name: Delete loder releases
        uses: dev-drprasad/delete-older-releases@v0.3.3
        with:
          keep_latest: 5
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}

      - name: Push Msg
        run: |
          sudo -E timedatectl set-timezone Asia/Shanghai
          sh .github/push.sh ${{ secrets.CORPID }} ${{ secrets.CORPSECRET }} ${{ secrets.AGENTID }} "x86_64" "Released on ${{ github.ref_name }}"



